<!-- Intro (not logged in) -->
<div v-if="loginstage == 1">
    <h3 class="text-center">Job Interview Helper</h3>
    <p>This service helps you to pass your job interview.</p>
    <p>How it works: you need to login with your LinkedIn account, the service parses your profile and generates audio that you could speak, when answering questions of the real interviewers.</p>
    <p>To continue please log in with your LinkedIn account:</p>

    <div class="col text-center">

        <b-button v-on:click="loginstage = 2">Login with LinkedIn</b-button>
        <!-- <a href="linkedinlogin.html" class="btn btn-info" role="button">Login with LinkedIn</a> -->

    </div>
</div>